.Videos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  li {
    border-radius: 5px;
    flex: calc(50% - 20px);
    max-width: 50%;

    @include xs {
      flex: 100%;
      max-width: 100%;
    }

    @include sm {
      flex: 100%;
      max-width: 100%;
    }

    iframe {
      border-radius: 5px;
      height: 350px;
      width: 100%;

      @include xs {
        height: 250px;
      }

      @include sm {
        height: 350px;
      }

      @include md {
        height: 250px;
      }

      @include xlg {
        height: 400px;
      }
    }
  }
}
